/*Reset & General Styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

html {
  font-size: 10px;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 8px;
  }
}

body {
  color: #000;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/* Main Section Styles*/
.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 40% 60%;
  background: url(../img/full-bloom.png);
}

.main .left_hand {
  position: relative;
  border-right: 5px solid #ffcc00;
  margin-right: 5px;
}

.main .left_hand ul.login {
  list-style: none;
  margin: 20px 0 0 20px;
}

.main .left_hand ul.login li {
  float: left;
  margin-right: 15px;
  font-size: 1.6rem;
  letter-spacing: 3px;
  font-family: 'Muli', sans-serif;
}

.main .left_hand ul.login li a {
  color: #ffcc00;
}

.main .left_hand .vertical_line {
  position: absolute;
  top: 250px;
  left: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main .left_hand .vertical_line ul {
  list-style: none;
}

.main .left_hand .vertical_line ul li {
  font-size: 2rem;
  font-family: 'Questrial', sans-serif;
}

.main .left_hand .vertical_line ul li a {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin: 10px 0;
}

.main .left_hand .box {
  width: 100%;
  height: 75%;
  background: url(../img/chalkboard.jpg);
  position: absolute;
  margin: 80px 0 0 150px;
  z-index: 2;
}

.main .left_hand .box .box_item {
  width: 100%;
  height: 100%;
  border-left: 5px solid #ffcc00;
  margin-left: 5px;
}

.main .left_hand .box .box_item h1 {
  color: #fff;
  padding: 100px 50px;
}

.main .left_hand .box .box_item h1 span {
  color: #ffcc00;
}

.main .left_hand ul#choose_language {
  position: absolute;
  bottom: 20px;
  right: 20px;
  list-style: none;
}

.main .left_hand ul#choose_language li {
  float: left;
  font-size: 2.3rem;
  margin-left: 10px;
  font-family: 'Questrial', sans-serif;
}

.main .right_hand {
  position: relative;
}

.main .right_hand .logo {
  color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9;
  display: inline-block;
}

.main .right_hand .logo p {
  font-size: 2rem;
  font-family: 'Questrial', sans-serif;
}

.main .right_hand .main_slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main .right_hand .main_slider figure {
  display: block;
}

.main .right_hand .main_slider figure img {
  width: 100%;
  height: 100vh;
  vertical-align: bottom;
}

.main .right_hand .main_slider figure figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.02);
}

.main .right_hand .slider_arrows {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.main .right_hand .slider_arrows .arrow_left {
  border: 1px solid #fff;
  float: left;
  margin-right: 2px;
  padding: 0 15px;
  cursor: pointer;
}

.main .right_hand .slider_arrows .arrow_right {
  border: 1px solid #fff;
  float: right;
  margin-left: 2px;
  padding: 0 15px;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: auto;
  letter-spacing: 2px;
  cursor: pointer;
}

a.button {
  border: 2px solid #000;
  padding: 20px 30px;
  font-size: 40px;
  position: relative;
  outline: none;
  color: white;
  background-color: transparent;
  margin: 40px;
  font-family: 'Merriweather', serif;
  white-space: nowrap;
}

a.button--swap span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  font-size: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  color: black;
  -webkit-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;
}

a.button--swap::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: white;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

a.button--swap:hover:before {
  width: 100%;
}

a.button--swap:hover span {
  opacity: 1;
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  background: #000;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #ffcc00;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #4dc7ed;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

/* Effects */
.overlay-door {
  visibility: hidden;
  width: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  -o-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
  visibility: visible;
  width: 100%;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.overlay-door nav {
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.overlay-door nav,
.overlay-door .overlay-close {
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s;
  -o-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.overlay-door.open nav,
.overlay-door.open .overlay-close {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.overlay-door.close nav,
.overlay-door.close .overlay-close {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

[data-wipe] {
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  position: relative;
  border: 2px solid #445561;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: #445561;
  overflow: hidden;
}

[data-wipe]:before, [data-wipe]:after {
  content: attr(data-wipe);
  padding-top: inherit;
  padding-bottom: inherit;
  white-space: nowrap;
  position: absolute;
  top: 0;
  overflow: hidden;
  color: #F1F1F2;
  background: #445561;
}

[data-wipe]:before {
  left: 0;
  text-indent: 18px;
  width: 0;
}

[data-wipe]:after {
  padding-left: inherit;
  padding-right: inherit;
  left: 100%;
  text-indent: calc(-100% - 36px);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

[data-wipe]:hover:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

[data-wipe]:hover:after {
  left: 0;
  text-indent: 0;
  -webkit-transition: 0s 0.2s ease-in-out;
  -o-transition: 0s 0.2s ease-in-out;
  transition: 0s 0.2s ease-in-out;
}

/*About Section Styles*/
.about {
  width: 100%;
  position: relative;
}

.about .about_wrapper {
  width: 75%;
  margin: 90px auto;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-column-gap: 50px;
  min-height: 400px;
}

.about .about_wrapper .about_content {
  min-height: 400px;
}

.about .about_wrapper .about_content h4 {
  color: red;
}

.about .about_wrapper .about_box {
  height: 150px;
}

.about .about_wrapper .about_box .about_box_item {
  background-color: #1e1e1e;
  padding: 20px;
  display: block;
}

.about .about_wrapper .about_box .about_box_item h4 {
  color: #ffcc00;
}

.about .about_wrapper .about_box .about_box_item ul.what_we_do {
  list-style: none;
}

.about .about_wrapper .about_box .about_box_item ul.what_we_do li {
  font-size: 1.5rem;
  color: #fff;
}

.about .about_wrapper .clear {
  clear: both;
}

.portfolio {
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.portfolio h3 {
  text-align: center;
  margin: 50px 0 0 0;
}

.portfolio .filters {
  text-align: center;
  margin: 20px auto 50px auto;
}

.portfolio .filters ul {
  padding: 20px 0;
}

.portfolio .filters ul li {
  display: inline-block;
  font-size: 1.8rem;
  padding: 0 10px;
  cursor: pointer;
  color: #000;
}

.portfolio .filters ul li:hover {
  color: #59c383;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.portfolio .filters ul li.active {
  color: #59c383;
}

.portfolio .portfolio_container {
  width: 95%;
  margin: auto;
}

.portfolio .portfolio_container .portfolio_item {
  width: 24%;
  float: left;
  margin: 5px 0.5%;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .portfolio .portfolio_container .portfolio_item {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio .portfolio_container .portfolio_item {
    width: 100%;
  }
}

.portfolio .portfolio_container .portfolio_item a img {
  width: 100%;
  height: auto;
}

.portfolio .portfolio_container .portfolio_item a div {
  position: absolute;
  background: rgba(255, 204, 0, 0.6);
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 2rem;
}

.portfolio .portfolio_container .portfolio_item a div:before {
  content: "";
  width: 1%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.portfolio .portfolio_container .portfolio_item a div:after {
  content: "";
  border: 2px solid #fff;
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
}

.portfolio .portfolio_container .portfolio_item a div .caption {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  text-align: center;
}

/*Blog Section Styles*/
.blog {
  width: 100%;
}

.blog .blog_wrapper {
  width: 75%;
  margin: 90px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
}

.blog .blog_wrapper .blog_item {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: inline-block;
}

.blog .blog_wrapper .blog_item .thumbnail {
  position: relative;
}

.blog .blog_wrapper .blog_item .thumbnail a img {
  width: 100%;
  height: 100%;
}

.blog .blog_wrapper .blog_item .thumbnail a .thumbnail_overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
}
