/*Reset & General Styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;
}

html {
  font-size: 10px;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 8px;
  }
}

body {
  color: #000;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

/* Main Section Styles*/
.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
  background: url(../img/curls.png);
}

@media only screen and (max-width: 1060px) {
  .main {
    grid-template-columns: 100%;
    height: auto;
    width: 100%;
  }
}

.main .left_hand {
  position: relative;
  border-right: 5px solid #ffcc00;
  margin-right: 5px;
}

@media only screen and (max-width: 1060px) {
  .main .left_hand {
    height: 100vh;
    width: 100%;
    grid-area: 2/1/3/2;
  }
}

.main .left_hand ul#login {
  margin: 20px 0 0 20px;
}

.main .left_hand ul#login li {
  float: left;
  margin-right: 15px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main .left_hand ul#login li a {
  color: #fff;
}

.main .left_hand ul#choose_language {
  margin: 20px 20px 0 0;
}

.main .left_hand ul#choose_language li {
  float: right;
  margin-left: 10px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main .left_hand ul#choose_language li a {
  color: #fff;
}

.main .left_hand h1 {
  font-size: 8rem;
  color: #fff;
  padding: 200px 100px 0 150px;
}

.main .left_hand a.button {
  border: 2px solid #ffcc00;
  padding: 8px 16px;
  font-size: 2.5rem;
  position: relative;
  outline: none;
  display: inline-block;
  color: #fff;
  background-color: transparent;
  margin: 30px 0 0 150px;
}

.main .left_hand a.button-swap span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  font-size: 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  color: #000;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.main .left_hand a.button-swap::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #ffcc00;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main .left_hand a.button-swap:hover:before {
  width: 100%;
}

.main .left_hand a.button-swap:hover span {
  opacity: 1;
}

.main .left_hand p#vertical_line {
  position: absolute;
  top: 250px;
  left: 20px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 1.8rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffcc00;
}

.main .left_hand ul#follow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
}

.main .left_hand ul#follow li {
  float: left;
  font-size: 1.2rem;
  margin-left: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main .left_hand ul#follow li a {
  color: #fff;
}

.main .right_hand {
  position: relative;
}

@media only screen and (max-width: 1060px) {
  .main .right_hand {
    height: auto;
    grid-area: 1/1/2/2;
  }
}

.main .right_hand .menu {
  width: 100%;
  z-index: 9;
  position: absolute;
}

.main .right_hand .menu a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  display: inline-block;
  margin: 20px;
}

.main .right_hand .menu .hamburger_wrapper {
  margin: 20px;
  float: right;
  width: 40px;
  height: 19px;
  cursor: pointer;
}

.main .right_hand .menu .hamburger_menu, .main .right_hand .menu .hamburger_menu:after, .main .right_hand .menu .hamburger_menu:before {
  width: 40px;
  height: 3px;
}

.main .right_hand .menu .hamburger_menu {
  position: relative;
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
  background: #fff;
}

.main .right_hand .menu .hamburger_menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #fff;
}

.main .right_hand .menu .hamburger_menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: #fff;
}

.main .right_hand .main_slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main .right_hand .main_slider figure {
  display: block;
}

.main .right_hand .main_slider figure img {
  width: 100%;
  height: 100vh;
  vertical-align: bottom;
}

.main .right_hand .main_slider figure figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.02);
}

.main .right_hand .slider_arrows {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.main .right_hand .slider_arrows .arrow_left {
  border: 1px solid #fff;
  float: left;
  margin-right: 2px;
  padding: 0 15px;
  cursor: pointer;
}

.main .right_hand .slider_arrows .arrow_left:hover {
  border: 1px solid #ffcc00;
  -webkit-transition: border .5s ease;
  -o-transition: border .5s ease;
  transition: border .5s ease;
}

.main .right_hand .slider_arrows .arrow_left:not(:hover) {
  border: 1px solid #fff;
  -webkit-transition: border .5s ease;
  -o-transition: border .5s ease;
  transition: border .5s ease;
}

.main .right_hand .slider_arrows .arrow_right {
  border: 1px solid #fff;
  float: right;
  margin-left: 2px;
  padding: 0 15px;
  cursor: pointer;
}

.main .right_hand .slider_arrows .arrow_right:hover {
  border: 1px solid #ffcc00;
  -webkit-transition: border .5s ease;
  -o-transition: border .5s ease;
  transition: border .5s ease;
}

.main .right_hand .slider_arrows .arrow_right:not(:hover) {
  border: 1px solid #fff;
  -webkit-transition: border .5s ease;
  -o-transition: border .5s ease;
  transition: border .5s ease;
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  background: #000;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.overlay ul {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #9c9c9c;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #ffcc00;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

/* Effects */
.overlay-door {
  visibility: hidden;
  width: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  -o-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
  visibility: visible;
  width: 100%;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.overlay-door nav {
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.overlay-door nav,
.overlay-door .overlay-close {
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s;
  -o-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.overlay-door.open nav,
.overlay-door.open .overlay-close {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.overlay-door.close nav,
.overlay-door.close .overlay-close {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

/*About Section Styles*/
.about {
  width: 100%;
  position: relative;
}

.about .about_wrapper {
  width: 85%;
  margin: 80px auto;
  min-height: 400px;
}

.about .about_wrapper .about_content {
  width: 50%;
  display: inline-block;
}

@media only screen and (max-width: 1000px) {
  .about .about_wrapper .about_content {
    width: 100%;
  }
}

.about .about_wrapper .about_content h3 {
  margin: 0 0 20px 0;
}

.about .about_wrapper .about_content p {
  line-height: 2.5rem;
}

.about .about_wrapper .about_content a {
  font-size: 1.2rem;
  margin: 20px 0 50px -7px;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.about .about_wrapper .about_content a span {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.about .about_wrapper .about_content a span:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.about .about_wrapper .about_content a:hover span {
  padding-left: 7px;
  color: #ffcc00;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about .about_wrapper .about_content a:hover span:before {
  opacity: 1;
  padding-right: 7px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #ffcc00;
}

.about .about_wrapper .about_content .qualities {
  display: table;
}

.about .about_wrapper .about_content .qualities .qualities_block {
  text-align: center;
}

.about .about_wrapper .about_content .qualities .qualities_block .quality_holder {
  display: inline-block;
  padding: 40px;
}

.about .about_wrapper .about_content .qualities .qualities_block .quality_holder p {
  padding-top: 15px;
}

.about .about_wrapper .about_content .qualities .qualities_block .quality_holder h4 {
  text-transform: uppercase;
}

.about .about_wrapper .about_box {
  float: right;
}

@media only screen and (max-width: 1000px) {
  .about .about_wrapper .about_box {
    float: none;
  }
}

.about .about_wrapper .about_box .about_box_item {
  background-color: #000;
  padding: 70px 120px 70px 70px;
  display: inline-block;
  overflow: hidden;
  margin: 0 0 0 30px;
}

.about .about_wrapper .about_box .about_box_item h4 {
  color: #ffcc00;
  margin-bottom: 15px;
}

.about .about_wrapper .about_box .about_box_item ul.what_we_do li {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fff;
}

.about .about_wrapper .clear {
  clear: both;
}

.portfolio {
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.portfolio h3 {
  text-align: center;
  margin: 50px 0 0 0;
}

.portfolio .filters {
  text-align: center;
  margin: 20px auto 50px auto;
}

.portfolio .filters ul {
  padding: 20px 0;
}

.portfolio .filters ul li {
  display: inline-block;
  font-size: 1.8rem;
  margin: 0 10px;
  padding-bottom: 3px;
  cursor: pointer;
  color: #000;
}

.portfolio .filters ul li.active {
  border-bottom: 2px solid #ffcc00;
}

.portfolio .portfolio_container {
  width: 100%;
  margin: auto;
}

.portfolio .portfolio_container .portfolio_item {
  width: 33.333%;
  float: left;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .portfolio .portfolio_container .portfolio_item {
    width: 100%;
  }
}

.portfolio .portfolio_container .portfolio_item a img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.portfolio .portfolio_container .portfolio_item a div {
  position: absolute;
  background: rgba(255, 204, 0, 0.6);
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 2rem;
}

.portfolio .portfolio_container .portfolio_item a div:before {
  content: "";
  width: 1%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.portfolio .portfolio_container .portfolio_item a div:after {
  content: "";
  border: 2px solid #fff;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.portfolio .portfolio_container .portfolio_item a div .caption {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  text-align: center;
}

/*Blog Section Styles*/
.blog {
  width: 100%;
}

.blog h6 {
  text-align: center;
  margin: 20px 0 0 0;
  text-transform: uppercase;
}

.blog h3 {
  text-align: center;
  margin: 5px 0 30px 0;
}

.blog .blog_wrapper {
  width: 85%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
}

@media only screen and (max-width: 1015px) {
  .blog .blog_wrapper {
    grid-template-columns: auto;
  }
}

.blog .blog_wrapper .blog_item {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width: 1015px) {
  .blog .blog_wrapper .blog_item {
    margin-bottom: 30px;
  }
}

.blog .blog_wrapper .blog_item .thumbnail {
  position: relative;
  display: block;
  overflow: hidden;
}

.blog .blog_wrapper .blog_item .thumbnail a img {
  width: 100%;
  display: block;
  height: 100%;
  vertical-align: middle;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.blog .blog_wrapper .blog_item .thumbnail a .thumbnail_overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.blog .blog_wrapper .blog_item .thumbnail a:hover img {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.blog .blog_wrapper .blog_item .thumbnail a:hover .thumbnail_overlay {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.blog .blog_wrapper .blog_item .thumbnail a:not(:hover) .thumbnail_overlay {
  background-color: transparent;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.blog .blog_wrapper .blog_item .blogpost_content {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-column-gap: 30px;
  margin: 30px 0 0 0;
}

.blog .blog_wrapper .blog_item .blogpost_content .blog_date a {
  display: inline-block;
  border: 3px solid #000;
  padding: 20px 16px;
  text-align: center;
  margin: 0 0 0 15px;
}

.blog .blog_wrapper .blog_item .blogpost_content .blog_date a span#date {
  font-weight: 600;
  font-size: 3rem;
  color: #000;
}

.blog .blog_wrapper .blog_item .blogpost_content .blog_date a span {
  color: #4e4e4e;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1015px) {
  .blog .blog_wrapper .blog_item .blogpost_content .blog_date a span {
    padding: 0 3px;
  }
}

.blog .blog_wrapper .blog_item .blogpost_content .blog_date a:hover span#date {
  color: #ffcc00;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.blog .blog_wrapper .blog_item .blogpost_content .blog_date a:hover span {
  color: #ffcc00;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.blog .blog_wrapper .blog_item .blogpost_content .blog_date a:not(:hover) span#date {
  color: #000;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.blog .blog_wrapper .blog_item .blogpost_content .blog_date a:not(:hover) span {
  color: #000;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info {
  margin-left: 10px;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info a {
  padding: 0 0 10px 0;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info a h5 {
  font-size: 1.8rem;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info a:hover {
  color: #ffcc00;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info a:not(:hover) {
  color: #000;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info p {
  padding: 5px 0;
  color: #4e4e4e;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info a.button_blog {
  border: 2px solid #ffcc00;
  padding: 10px 20px;
  font-size: 1.8rem;
  position: relative;
  outline: none;
  display: inline-block;
  color: #000;
  background-color: transparent;
  margin-top: 20px;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info a.button_blog-swap_blog span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 1.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  color: #fff;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info a.button_blog-swap_blog::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #ffcc00;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info a.button_blog-swap_blog:hover:before {
  width: 100%;
}

.blog .blog_wrapper .blog_item .blogpost_content .blogpost_info a.button_blog-swap_blog:hover span {
  opacity: 1;
}

/*Footer styles*/
footer {
  width: 100%;
  min-height: 250px;
  color: #fff;
  background-color: #000;
  overflow: hidden;
}

footer .footer_wrapper_upper {
  width: 85%;
  margin: 20px auto 0 auto;
  display: grid;
  grid-template-columns: 30% 22% 18% 30%;
}

@media only screen and (max-width: 1267px) {
  footer .footer_wrapper_upper {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 700px) {
  footer .footer_wrapper_upper {
    grid-template-columns: 100%;
    margin: 0 auto;
  }
}

footer .footer_wrapper_upper .footer_about {
  padding: 30px 50px 0 0;
}

footer .footer_wrapper_upper .footer_about a.footer_logo {
  margin: 0 0 10px 0;
  display: inline-block;
  font-size: 1.8rem;
  text-transform: none;
}

footer .footer_wrapper_upper .footer_about p {
  margin: 0 0 10px 0;
  color: #9c9c9c;
}

footer .footer_wrapper_upper .footer_about a {
  color: #fff;
  font-size: 1.2rem;
  margin-left: -7px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer .footer_wrapper_upper .footer_about a span {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

footer .footer_wrapper_upper .footer_about a span:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

footer .footer_wrapper_upper .footer_about a:hover span {
  padding-left: 7px;
  color: #ffcc00;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .footer_wrapper_upper .footer_about a:hover span:before {
  opacity: 1;
  padding-right: 7px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #ffcc00;
}

footer .footer_wrapper_upper .footer_contact {
  padding: 30px 0 0 0;
}

footer .footer_wrapper_upper .footer_contact h6 {
  margin: 0 0 10px 0;
  font-weight: normal;
}

footer .footer_wrapper_upper .footer_contact p {
  line-height: 2.5rem;
  color: #9c9c9c;
}

footer .footer_wrapper_upper .footer_contact p i {
  color: #ffcc00;
  min-width: 15px;
  margin-right: 10px;
  display: inline-block;
}

footer .footer_wrapper_upper .footer_contact a {
  color: #fff;
  margin: 10px 0 0 0;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: -7px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer .footer_wrapper_upper .footer_contact a span {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

footer .footer_wrapper_upper .footer_contact a span:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

footer .footer_wrapper_upper .footer_contact a:hover span {
  padding-left: 7px;
  color: #ffcc00;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .footer_wrapper_upper .footer_contact a:hover span:before {
  opacity: 1;
  padding-right: 7px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #ffcc00;
}

footer .footer_wrapper_upper .footer_links {
  padding: 30px 0 0 0;
}

footer .footer_wrapper_upper .footer_links h6 {
  margin: 0 0 10px 7px;
  font-weight: normal;
}

footer .footer_wrapper_upper .footer_links ul li {
  padding: 2px 0;
}

footer .footer_wrapper_upper .footer_links ul li a {
  color: #9c9c9c;
  font-size: 1.6rem;
}

footer .footer_wrapper_upper .footer_links ul li a span {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

footer .footer_wrapper_upper .footer_links ul li a span:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

footer .footer_wrapper_upper .footer_links a:hover span {
  padding-left: 7px;
  color: #ffcc00;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .footer_wrapper_upper .footer_links a:hover span:before {
  opacity: 1;
  padding-right: 7px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #ffcc00;
}

footer .footer_wrapper_upper .footer_twitter {
  padding: 30px 0 0 0;
}

footer .footer_wrapper_upper .footer_twitter h6 {
  font-weight: normal;
}

footer .footer_wrapper_upper .footer_twitter p {
  margin: 15px 0 5px 0;
  color: #9c9c9c;
}

footer .footer_wrapper_upper .footer_twitter i {
  color: #ffcc00;
  margin-right: 10px;
}

footer .footer_wrapper_upper .footer_twitter p#twitter_date {
  color: #fff;
}

footer .footer_wrapper_down {
  width: 85%;
  margin: 30px auto;
  border-top: 1px solid #9c9c9c;
  display: grid;
  grid-template-columns: 70% 30%;
}

@media only screen and (max-width: 1267px) {
  footer .footer_wrapper_down {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 700px) {
  footer .footer_wrapper_down {
    grid-template-columns: 100%;
  }
}

footer .footer_wrapper_down .footer_copyright {
  padding: 30px 0;
}

@media only screen and (max-width: 1267px) {
  footer .footer_wrapper_down .footer_copyright {
    padding: 30px 50px 30px 0;
  }
}

footer .footer_wrapper_down .footer_copyright h6 {
  font-weight: normal;
  margin: 0 0 10px 0;
}

footer .footer_wrapper_down .footer_copyright h6 i {
  color: #ffcc00;
  margin: 0 10px 0 0;
}

footer .footer_wrapper_down .footer_copyright h6 a {
  color: #fff;
}

footer .footer_wrapper_down .footer_copyright p {
  color: #9c9c9c;
}

footer .footer_wrapper_down .footer_newsletter {
  padding: 30px 0;
}

footer .footer_wrapper_down .footer_newsletter h6 {
  font-weight: normal;
}

footer .footer_wrapper_down .footer_newsletter .input-wrapper {
  width: 100%;
  margin: 10px auto;
  position: relative;
}

footer .footer_wrapper_down .footer_newsletter .input-wrapper:after {
  content: attr(data-text);
  font-size: 1.6rem;
  line-height: 0;
  height: 0;
  max-width: 100%;
  border-bottom: 3px solid #ffcc00;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: transparent;
}

footer .footer_wrapper_down .footer_newsletter .input-wrapper input {
  color: #9c9c9c;
  padding: 0;
  border-radius: 0;
  outline: none;
  width: auto;
  border: none;
  font-size: 1.6rem;
  padding: 10px 0;
  border-bottom: 3px solid #9c9c9c;
  background-color: transparent;
}

footer .footer_wrapper_down .footer_newsletter .input-wrapper button.button_footer {
  border: 2px solid #ffcc00;
  padding: 10px 30px;
  font-size: 1.6rem;
  position: relative;
  outline: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  margin-left: 40px;
}

@media only screen and (max-width: 1400px) {
  footer .footer_wrapper_down .footer_newsletter .input-wrapper button.button_footer {
    margin-left: 10px;
  }
}

footer .footer_wrapper_down .footer_newsletter .input-wrapper button.button_footer-swap_footer span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  color: #000;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

footer .footer_wrapper_down .footer_newsletter .input-wrapper button.button_footer-swap_footer:before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #ffcc00;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

footer .footer_wrapper_down .footer_newsletter .input-wrapper button.button_footer-swap_footer:hover:before {
  width: 100%;
}

footer .footer_wrapper_down .footer_newsletter .input-wrapper button.button_footer-swap_footer:hover span {
  opacity: 1;
}

footer .footer_wrapper_down .footer_newsletter p {
  margin: 15px 0 5px 0;
}

footer .footer_wrapper_down .footer_newsletter a {
  color: #9c9c9c;
  font-size: 1.6rem;
}

footer .footer_wrapper_down .footer_newsletter a i {
  margin: 0 10px 0 0;
}

footer .footer_wrapper_down .footer_newsletter a:hover {
  color: #ffcc00;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* Contact page. Header section*/
.header {
  width: 100%;
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.header .menu_page {
  position: absolute;
  width: 100%;
  z-index: 9;
}

.header .menu_page a {
  color: #fff;
  display: inline-block;
  margin: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header .menu_page .hamburger_wrapper {
  margin: 20px;
  float: right;
  width: 40px;
  height: 19px;
  cursor: pointer;
}

.header .menu_page .hamburger_menu, .header .menu_page .hamburger_menu:after, .header .menu_page .hamburger_menu:before {
  width: 40px;
  height: 3px;
}

.header .menu_page .hamburger_menu {
  position: relative;
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
  background: #fff;
}

.header .menu_page .hamburger_menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #fff;
}

.header .menu_page .hamburger_menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: #fff;
}

.header .parallax_text {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #ffcc00;
  top: 200px;
}

/*About page styles*/
.about_me {
  width: 100%;
  height: auto;
}

.about_me .about_me_wrapper {
  width: 85%;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 30% 50%;
  grid-column-gap: 100px;
}

.about_me .about_me_wrapper .about_image img {
  width: 100%;
  height: auto;
}

/*Contact page styles*/
.contact {
  width: 100%;
  height: auto;
}

.contact .contact_wrapper {
  width: 85%;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 50% 30%;
  grid-column-gap: 100px;
}

.contact .contact_wrapper h4 {
  margin: 0 0 10px 0;
}

.contact .contact_wrapper .contact_form p {
  margin: 0 0 30px 0;
}

.contact .contact_wrapper .contact_form #name {
  width: 100%;
  margin: 0 0 30px 0;
}

.contact .contact_wrapper .contact_form #name input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 1.6rem;
  display: inline-block;
}

.contact .contact_wrapper .contact_form #name input::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #000;
}

.contact .contact_wrapper .contact_form #name input:-ms-input-placeholder {
  font-size: 1.6rem;
  color: #000;
}

.contact .contact_wrapper .contact_form #name input::-ms-input-placeholder {
  font-size: 1.6rem;
  color: #000;
}

.contact .contact_wrapper .contact_form #name input::placeholder {
  font-size: 1.6rem;
  color: #000;
}

.contact .contact_wrapper .contact_form #name input:focus {
  outline: none;
}

.contact .contact_wrapper .contact_form #name input:focus ~ label, .contact .contact_wrapper .contact_form #name input:valid ~ label {
  top: -1.4rem;
  font-size: 1.2rem;
  color: #ffcc00;
}

.contact .contact_wrapper .contact_form #name input:focus ~ .bar:before {
  width: 100%;
}

.contact .contact_wrapper .contact_form #email {
  width: 100%;
}

.contact .contact_wrapper .contact_form #email input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-bottom: 2px solid #000;
  display: inline-block;
  font-size: 1.6rem;
}

.contact .contact_wrapper .contact_form #email input:placeholder {
  font-size: 1.6rem;
  color: #000;
}

.contact .contact_wrapper .contact_form #email input:focus {
  outline: none;
}

.contact .contact_wrapper .contact_form #email input:focus ~ label, .contact .contact_wrapper .contact_form #email input:valid ~ label {
  top: -1.4rem;
  font-size: 1.2rem;
  color: #ffcc00;
}

.contact .contact_wrapper .contact_form #email input:focus ~ .bar:before {
  width: 100%;
}

.contact .contact_wrapper .contact_form #message {
  width: 100%;
  margin: 30px 0 0 0;
}

.contact .contact_wrapper .contact_form #message input {
  width: 100%;
  padding: 15px 20px 150px 20px;
  font-size: 1.6rem;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #000;
}

.contact .contact_wrapper .contact_form #message input:focus {
  outline: none;
}

.contact .contact_wrapper .contact_form #message input:focus ~ label, .contact .contact_wrapper .contact_form #message input:valid ~ label {
  top: -1.4rem;
  font-size: 1.2rem;
  color: #ffcc00;
}

.contact .contact_wrapper .contact_form #message input:focus ~ .bar:before {
  width: 100%;
}

.contact .contact_wrapper .contact_form #message input:placeholder {
  font-size: 1.6rem;
  color: #000;
}

.contact .contact_wrapper .contact_form .group {
  position: relative;
}

.contact .contact_wrapper .contact_form label {
  color: #000;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 350ms ease all;
  -o-transition: 350ms ease all;
  transition: 350ms ease all;
}

.contact .contact_wrapper .contact_form .bar {
  position: relative;
  display: block;
  width: 100%;
}

.contact .contact_wrapper .contact_form .bar:before {
  content: '';
  height: 3px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #ffcc00;
  -webkit-transition: 350ms ease all;
  -o-transition: 350ms ease all;
  transition: 350ms ease all;
  left: 0%;
}

.contact .contact_wrapper .contact_form button.button_contact_form {
  border: 2px solid #ffcc00;
  padding: 12px 45px;
  margin-top: 15px;
  font-size: 1.6rem;
  position: relative;
  outline: none;
  display: inline-block;
  cursor: pointer;
  color: #000;
  background-color: transparent;
}

.contact .contact_wrapper .contact_form button.button_contact_form-swap_contact_form span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px 45px;
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  color: #fff;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.contact .contact_wrapper .contact_form button.button_contact_form-swap_contact_form:before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #ffcc00;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.contact .contact_wrapper .contact_form button.button_contact_form-swap_contact_form:hover:before {
  width: 100%;
}

.contact .contact_wrapper .contact_form button.button_contact_form-swap_contact_form:hover span {
  opacity: 1;
}

.contact .contact_wrapper .direct_contact h6 {
  margin: 10px 0;
}

.contact .contact_wrapper .direct_contact p i {
  color: #ffcc00;
  margin-right: 8px;
}

/*Skills section styles*/
.skills {
  width: 100%;
  background-color: #ffcc00;
}

.skills .skills_wrapper {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  min-height: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (max-width: 800px) {
  .skills .skills_wrapper {
    grid-template-columns: auto auto;
  }
}

.skills .skills_wrapper .skills_item {
  color: #fff;
  padding: 15px 0;
}

.skills .skills_wrapper .skills_item h2 {
  text-decoration: overline;
}

.skills .skills_wrapper .skills_item p {
  font-size: 1.4rem;
  text-align: left;
  color: #fff;
}

.accordeon {
  width: 100%;
  height: auto;
}

.accordeon .accordeon_wrapper {
  width: 85%;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 100px;
}

.accordeon .accordeon_wrapper .accordeon_side .accordeon_title {
  background-color: #ffcc00;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: 3px solid #000;
  margin: 0 0 5px 0;
}

.accordeon .accordeon_wrapper .accordeon_side .accordeon_title:after {
  content: '\f067';
  font-family: "Font Awesome 5 Free";
  float: right;
  font-size: 1.2em;
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.accordeon .accordeon_wrapper .accordeon_side .accordeon_content {
  display: none;
  padding: 10px;
}

.accordeon .accordeon_wrapper .accordeon_side .accordeon_title.is-opened:after {
  content: '\f068';
  font-family: "Font Awesome 5 Free";
}
