/*Reset & General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	font-size: 6rem;
}
h2 {
	font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.5rem;
}
h6 {
  font-size: 1.8rem;
}
p {
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;
}
html {
	font-size: 10px;
  @media only screen and (max-width: 1200px) {
    font-size: 9px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 8px;
  }
}
body {
	color: #000;
  font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
  color: #000;
}

/* Main Section Styles*/

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 40% 60%;
  background: url(../img/full-bloom.png);
  .left_hand {
    position: relative;
    border-right: 5px solid #ffcc00;
    margin-right: 5px;
    
    ul.login { 
      list-style: none;
      margin: 20px 0 0 20px;
      li {        
        float: left;
        margin-right: 15px;
        font-size: 1.2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        a {
          color: #363636;          
        }
      }
    }
    .vertical_line {
      position: absolute;
      top: 250px;
      left: 0;
      transform: rotate(180deg);
      ul {
        list-style: none;
        li {
          font-size: 2rem;
          a {
            writing-mode: vertical-rl;
            margin: 10px 0;
          }
        }
      }
    }
    .box {
      width: 100%;
      height: 75%;
      background: url(../img/curls.png);
      position: absolute;
      margin: 80px 0 0 150px;
      z-index: 2;
      .box_item {
        width: 100%;
        height: 100%;
        border-left: 5px solid #ffcc00;
        margin-left: 5px;
        h1 {
          color: #fff;
          padding: 100px 0 50px 50px;
          span {
            color: #ffcc00;
          }
        }
        a.button {
          border: 2px solid #ffcc00;
          padding: 10px 20px;
          font-size: 2.5rem;
          position: relative;
          outline: none;
          display: inline-block;
          color: #fff;
          background-color: transparent;
          margin-left: 50px;
          &-swap {
            span {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 10px 20px;
              font-size: 2.5rem;
              box-sizing: border-box;
              opacity: 0;
              color: #000;
              transition: .5s ease;
            }
            &::before {
              content: "";
              left: 0;
              top: 0;
              position: absolute;
              width: 0;
              height: 100%;
              background-color: #ffcc00;
              transition: 0.5s ease;
            }
            &:hover {
              &:before {
                width: 100%;
              }
              span {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    ul#choose_language {
      position: absolute;
      bottom: 20px;
      right: 20px;
      list-style: none;
      li {
        float: left;
        font-size: 2.3rem;
        margin-left: 10px;
      }
    }
  }
  .right_hand {
    position: relative;
    .logo {
      color: #000;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 9;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 2px;
      p {
        
        font-size: 1.2rem;
      }
    }

    .main_slider {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      figure {
        display: block;     
        img {
          width: 100%;
          height: 100vh;
          vertical-align: bottom;
        }
        figcaption {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          
          background: rgba(0,0,0,.02);
        }
      }
    }
    .slider_arrows {
      position: absolute;
      bottom: 15px;
      right: 15px;
      .arrow_left {
        border: 1px solid #fff;
        float: left;
        margin-right: 2px;
        padding: 0 15px;
        cursor: pointer;
        &:hover {
          border: 1px solid #ffcc00;
          transition: border .5s ease;
        }
        &:not(:hover) {
          border: 1px solid #fff;
          transition: border .5s ease;
        }
      }
      .arrow_right {
        border: 1px solid #fff;
        float: right;
        margin-left: 2px;
        padding: 0 15px;
        cursor: pointer;
        &:hover {
          border: 1px solid #ffcc00;
          transition: border .5s ease;
        }
        &:not(:hover) {
          border: 1px solid #fff;
          transition: border .5s ease;
        }
      }
    }
  }
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: auto;
  font-size: 1.2rem;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}



/* Overlay style */
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  background: #000;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  backface-visibility: hidden;
}

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #9c9c9c;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #ffcc00;
  transition: all .5s ease-out;
}

/* Effects */
.overlay-door {
  visibility: hidden;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
  visibility: visible;
  width: 100%;
  transition: width 0.5s;
}

.overlay-door nav {
  position: absolute;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.overlay-door nav,
.overlay-door .overlay-close {
  opacity: 0;
  transition: opacity 0.3s 0.5s;
}

.overlay-door.open nav,
.overlay-door.open .overlay-close {
  opacity: 1;
  transition-delay: 0.5s;
}

.overlay-door.close nav,
.overlay-door.close .overlay-close {
  transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

/*About Section Styles*/

.about {
  width: 100%;
  position: relative;
  .about_wrapper {
    width: 85%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 50% 30%;
    grid-column-gap: 300px;
    min-height: 400px;
    @media only screen and (max-width: 900px) {
      grid-template-columns: 100%;
    }
    .about_content {
      min-height: 400px;
                 
      h3 {
        margin: 0 0 20px 0;
      }
      p {
        line-height: 2.5rem;
      }
      a {
        font-size: 1.6rem;
        margin: 10px 0 0 -7px;
        display: inline-block;
        span {
          position: relative;
          transition: 0.5s;
          &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
            opacity: 0;
            transition: 0.5s;
          }
        }
      }
      a:hover span {
        padding-left: 7px;
        color: #ffcc00;
        transition: all 0.5s ease-in-out;
      }
      a:hover span:before {
        opacity: 1;
        padding-right: 7px;
        transition: all 0.5s ease-in-out;
        color: #ffcc00
      }
      .qualities {
        display: block;
        text-align: center;
        .qualities_block {
          .quality_holder {
            display: inline-block;
            padding: 50px;
          }
        }
      }
    }
    
    .about_box {
      height: 150px;
      
      
      .about_box_item {
        background-color: #000;
        padding: 50px 100px 50px 50px;
        display: inline-block;
        border-left: 5px solid #ffcc00;
        overflow: hidden;
        h4 {
          color: #ffcc00;
        }
        ul.what_we_do {
          list-style: none;
          li {
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: #fff;
          }
        }
      }
    }
    .clear {
      clear: both;
    }
  }
}

 // Portfolio Section stylesheet

.portfolio {
  width: 100%;
  position: relative;
  overflow-y: hidden;
  h3 {
    text-align: center;
    margin: 50px 0 0 0;
  }
  .filters {
    text-align: center;
    margin: 20px auto 50px auto;
    ul {
      padding: 20px 0;
      li {
        display: inline-block;
        font-size: 1.8rem;
        padding: 0 10px;
        cursor: pointer;
        color: #000;
        &:hover {
          color: #59c383;
          transition: all .5s ease-in-out;
        }
      }
      li.active {
        color: #59c383;
      }
    }
  }
  .portfolio_container {
    width: 85%;
    margin: auto;
    .portfolio_item {
      width: 24%;
      float: left;
      margin: 5px 0.5%;
      overflow: hidden;
      position: relative;
      @media only screen and (max-width: 900px) {
        width: 50%;
      }
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
      a {
        img {
          width: 100%;
          height: auto;
          vertical-align: middle;
        }
        div {
          position: absolute;
          background: rgba(255, 204, 0, 0.6);
          color: #fff;
          width: 100%;
          height: 100%;
          z-index: 1;
          font-size: 2rem;
          &:before {
            content: "";
            width: 1%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
          &:after {
            content: "";
            border: 2px solid #fff;
            position: absolute;
            top: 12px;
            bottom: 12px;
            left: 12px;
            right: 12px;
          }
          .caption {
            display: inline-block;
            vertical-align: middle;
            
            width: 100%;
            height: 100%;
            margin: 0 auto;
            z-index: 1;
            text-align: center;
          }
        }
      }
    }
  }
}

/*Blog Section Styles*/
.blog {
  width: 100%;
  h5 {
    text-align: center;
    margin: 20px 0 0 0;
    text-transform: uppercase;
  }
  h1 {
    text-align: center;
    margin: 5px 0 30px 0;
  }
  .blog_wrapper {
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
     @media only screen and (max-width: 900px) {
      grid-template-columns: auto;
     }
    .blog_item {
      overflow: hidden;
      width: 100%;
      height: auto;
      display: block;
      .thumbnail {
        position: relative;
        display: block;
        overflow: hidden;
        a {
          img {
            width: 100%;
            display: block;
            height: 100%;
            vertical-align: middle;
            transition: transform 500ms ease;
          }
          .thumbnail_overlay {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
          }
          &:hover {
            img {
              transform: scale(1.15);
            }
            .thumbnail_overlay {
               background-color: rgba(0, 0, 0, 0.4);
               transition: background-color 500ms ease;
            }
          }
          &:not(:hover) {
            .thumbnail_overlay {
              background-color: transparent;
              transition: background-color 500ms ease;
            }
          }
        }
      }
      .blogpost_content {
        display: grid;
        grid-template-columns: 20% 70%;
        grid-column-gap: 30px;
        margin: 30px 0 0 0;
        .blog_date {
          a {
            display: inline-block;
            border: 3px solid #000;
            padding: 20px 16px;
            text-align: center;
            margin: 0 10px 0 15px;
            span#date {
              font-weight: 600;
              font-size: 3rem;
              color: #000;
            }
            span {
              color: #4e4e4e;
              font-size: 1.2rem;
            }
            &:hover {
              span#date {
                color: #ffcc00;
                transition: all .5s ease-out;
              }
              span {
                color: #ffcc00;
                transition: all .5s ease-out;
              }
            }
            &:not(:hover) {
              span#date {
                color: #000;
                transition: all .5s ease-out;
              }
              span {
                color: #000;
                transition: all .5s ease-out;
              }
            }
          }
        }
        .blogpost_info {
          a {
            padding: 0 0 10px 0;
            &:hover {
              color: #ffcc00;
              transition: all .5s ease;
            }
             &:not(:hover) {
              color: #000;
              transition: all .5s ease;
             }
          }
          p {
            padding: 5px 0;
            color: #4e4e4e;
          }
          a.button_blog {
            border: 2px solid #ffcc00;
            padding: 10px 20px;
            font-size: 1.8rem;
            position: relative;
            outline: none;
            display: inline-block;
            color: #000;
            background-color: transparent;
            margin-top: 20px;
            &-swap_blog {
              span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 10px 20px;
                font-size: 1.8rem;
                box-sizing: border-box;
                opacity: 0;
                color: #fff;
                transition: .5s ease;
              }
              &::before {
                content: "";
                left: 0;
                top: 0;
                position: absolute;
                width: 0;
                height: 100%;
                background-color: #ffcc00;
                transition: 0.5s ease;
              }
              &:hover {
                &:before {
                  width: 100%;
                }
                span {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*Footer styles*/

footer {
  width: 100%;
  min-height: 250px;
  color: #fff;
  background-color: #000;
  padding-top: 50px;
  overflow: hidden;
  .footer_wrapper {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 15% 15% 40%;
    grid-column-gap: 50px;
    .footer_about {
      p {
        margin: 0 0 10px 0;
        color: #9c9c9c;
      }
      a {
        color: #fff;
        font-size: 1.4rem;
        margin-left: -7px;
        span {
          position: relative;
          transition: 0.5s;
          &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
            opacity: 0;
            transition: 0.5s;
          }
        }
      }
      a:hover span {
        padding-left: 7px;
        color: #ffcc00;
        transition: all 0.5s ease-in-out;
      }
      a:hover span:before {
        opacity: 1;
        padding-right: 7px;
        transition: all 0.5s ease-in-out;
        color: #ffcc00
      }
    }
    .footer_contact {
      h6 {
        margin: 0 0 10px 0;
        font-weight: normal;
      }
      p {
        line-height: 2.5rem;
        color: #9c9c9c;
         i {
          color: #ffcc00;
          min-width: 15px;
          margin-right: 10px;
          display: inline-block;
        }
      }
    }
    .footer_links {
      h6 {
        margin: 0 0 10px 7px;
        font-weight: normal;
      }
      ul {
        list-style: none;
        li {
          padding: 2px 0;
          a {
            color: #9c9c9c;
            font-size: 1.6rem;
            span {
              position: relative;
              transition: 0.5s;
              &:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f105";
                opacity: 0;
                transition: 0.5s;
              }
            }
          }
        }
      }
      a:hover span {
        padding-left: 7px; 
        color: #ffcc00;
        transition: all 0.5s ease-in-out;
      }
      a:hover span:before {
        opacity: 1;
        padding-right: 7px;
        transition: all 0.5s ease-in-out;
        color: #ffcc00;
      }
    }
    .footer_newsletter {
      h6 {
        font-weight: normal;
      }
      .input-wrapper {
        width: 100%;
        margin: 10px auto;
        position: relative;
        &:after {
          content: attr(data-text);
          font-size: 1.6rem;
          line-height: 0;
          height: 0;
          max-width: 100%;
          border-bottom: 3px solid #ffcc00;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          overflow: hidden;
          user-select: none;
          color: transparent;
        }
        input {
          color: #9c9c9c;         
          padding: 0;
          border-radius: 0;
          outline: none;
          width: auto;
          border: none;
          font-size: 1.6rem;
          padding: 10px 0;
          border-bottom: 3px solid #9c9c9c;
          background-color: transparent;
        }
        button.button_footer {
          border: 2px solid #ffcc00;
          padding: 10px 30px;
          font-size: 1.6rem;
          position: relative;
          outline: none;
          display: inline-block;
          cursor: pointer;
          color: #fff;
          background-color: transparent;
          margin-left: 50px;
          &-swap_footer {
            span {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 10px 30px;
              font-size: 1.6rem;
              box-sizing: border-box;
              opacity: 0;
              color: #000;
              transition: .5s ease;
            }
            &:before {
              content: "";
              left: 0;
              top: 0;
              position: absolute;
              width: 0;
              height: 100%;
              background-color: #ffcc00;
              transition: 0.5s ease;
            }
            &:hover {
              &:before {
                width: 100%;
              }
              span {
                opacity: 1;
              }
            }
          }        
        }
      }
      p {
        margin: 15px 0 5px 0;
      }
      a {
        color: #9c9c9c;
        font-size: 1.6rem;
        i {
          margin: 0 10px 0 0;
        }
        &:hover {
          color: #ffcc00;
          transition: all .5s ease-in-out;
        }
      }
    }
  }
}




